*{
    margin: 0px;
    padding: 0px;
}
/* banner starting */
header{
    background-color: pink;
    max-width: 1900px;
}
.hcontainer{
    padding: 50px 240px 0px 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    max-height: 797px;
    
}
.himg{
    height: 800px;
}
.hdec{
    width: 300px;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
}
#htitle{
    font-size: 60px;
}
.hbtn{
    font-size: 15px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(219, 53, 81);
    border: none;
    border-radius: 3px;
}
/* banner ending */

/* section flowers kinds starting */

.flower-kinds{
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
}
.kindscontainer{
    display: flex;
    /* justify-content: space-around; */
}
.kinds{
   text-align: center;
}
.king{
    padding: 30px 20px 0px 20px;
    height: 150px;
    width: 110px;
    border: none;
    border-radius: 75px 75px 0px 0px;
    margin-left: 0px;
}
#stf{
    background-color: rgb(240, 206, 211);
}
#ndf{
    background-color: rgb(188, 236, 236);
}
#rdf{
    background-color: rgb(243, 243, 201);
}
.kdec{
    font-size: 15px;
    margin: 20px;
}